<header>
    <h1>{{pageTitle}} </h1>{{!the header is define this folder and access this }}
    <p><a href="/">Home</a></p>      {{!this link / for home page}}
    <p><a href="/about">About</a></p>    {{!this is for /about page}}
</header>